@model IEnumerable<IEnumerable<Models.CountryFlag>>

@{
    ViewBag.Title = "Index";
    int i = 0;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @foreach (var chunk in Model)
    {
    <tr>
        @foreach (var chunklet in chunk)
        {
            <td>@chunklet.CountryCode</td>
        }
    </tr>
    }
</table>



@*<td>
    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
</td>*@