@model IEnumerable<Models.CountryFlag>

@{
    ViewBag.Title = "Index";
    int i = 0;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CountryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @do {
        
        foreach (var item in Model.Skip(i*5).Take(2)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CountryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="~/Images/Flags/@(item.CountryCode).png" />
        </td>
    </tr>

        }
        i++;
        
    }     while (i < 3);
</table>



@*<td>
    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
</td>*@